*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardWrapper {
    width: 100vw;
    height: 100vh;
    background: none;
    display: block;
}

.contactListWrapper {
    width: 30%;
    min-width: 150px;
    height: 100vh;
    min-width: 250px;
    z-index: 0;
    box-shadow: 3px 0 10px 1px rgba(214, 210, 210, 0.281);
}

.contactList {
    overflow-y: auto;
    overflow-x: auto;
    max-height: calc(100vh - 13%);
    height: calc(100vh - 13%);
    width: 100%;
    background-color: whitesmoke;
}

.contactList::-webkit-scrollbar {
    display: none;
  }
  

  .contactList {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
.userDetail,.contactDetail {
    height: 13vh;
    width: 100%;
    background-color: rgb(237,237,237);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userWrapper {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatarWrapper {
    width: 27%;
    min-width: 50px;
    height: 65%;
}
.avatarWrapper > img {
    width: 90%;
    height: 100%;
    border-radius: 50%;
}

.userWrapper .userTitle {
    line-height: 100%;
    width: 54%;
    text-align: center;
}

.chatWrapper {
    width: 75%;
    height: 100vh;
}

.dashboard {
    display: flex;
}



.dashbtn {
    background: none;
    border: none;
    outline: none;
}
.dashbtn>img {
    width: 18px;
    height: 22px;
    padding-top: 3px;
}

.addUser>img {
    height: 26px;
}

.backDrop {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}


