* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profileWrapper {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 35vw;
    height: 50vh;
    background-image:linear-gradient(60deg,rgb(119,221,119),rgb(102,178,178));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
}

.profileWrapper>img {
    width: 32%;
    height: 45%;
    border-radius: 50%;
}

#closeProfile {
    padding: 4px 7px;
    background-color: #ff6779;
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    top: 20px;
    right: -160px;
}